@import '../../sass/_variables'

.form
  max-width: 1100px
  background: $color-card
  border-radius: 10px
  margin: 0
  padding: 60px
  box-sizing: border-box

@media (max-width: $screen-lg)
  .form
    max-width: 708px
    padding: 30px 119px

@media (max-width: $screen-md)
  .form
    max-width: 300px
    padding: 20px
