@import "../../../sass/variables"

.footer__button
  width: 470px
  font-weight: 600

@media (max-width: $screen-lg)
  .footer__button
    width: 240px

@media (max-width: $screen-md)
  .footer__button
    width: 260px

