@import '../../../sass/_variables'

.form__input
  margin: 0
  padding: 15px 20px
  box-sizing: border-box
  outline: none
  border: 1px solid transparent
  border-radius: 8px
  transition-duration: 0.5s

  &::placeholder
    color: $color-text
    opacity: .3
    font-size: 16px
    line-height: 24px
    font-weight: 400

  &:hover
    border: 1px solid #e4e4e4

  &:focus
    border: 1px solid #e4e4e4

